<div class="container text-center">
  <div class="border d-flex p-3 rounded">
    <%= link_to restaurants_path do %>
      <i class="fa-solid fa-house m-3"></i>
    <% end  %>
    <%= link_to "Add a new restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary" %>
  </div>
  <% @restaurants.each do |restaurant| %>
    <div class="card mb-3 shadow">
      <div class="card-body">
        <div class="card-product-infos">
          <%= link_to restaurant_path(restaurant), class: 'text-dark text-decoration-none' do %>
            <h2><%= restaurant.name %></h2>
            <p>Category: <%= restaurant.category %></p>
            <p>Address: <%= restaurant.address %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
